{% extends 'base.html' %}

{% block title %}
	<title>Аренда</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Аренда</h1>
            {% if msg %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
            {% endif %}
            {% for error in errors %}
                    <div class="alert alert-danger" role="alert">
                            {{ error }}
                    </div>
            {% endfor %}
        <form method="POST">
            <div class="mb-3">
              <label for="car_number" class="form-label">Номер:</label>
              <input type="text" required class="form-control" name="car_number" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-danger">Закончить аренду</button>
        </form>
    </div>
{% endblock %}
