{% extends 'base.html' %}

{% block title %}
    <title>Удаление машин</title>
{% endblock %}

{% block content %}
    <div class="container">
        {% if msg %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
        {% endif %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endfor %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Бренд</th>
                    <th scope="col">Модель</th>
                    <th scope="col">Номер</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Широта</th>
                    <th scope="col">Долгота</th>
                    <th scope="col">Статус</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for car in cars %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{car.brand}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.car_number}}</td>
                        <td>{{car.price_order}}</td>
                        <td>{{car.latitude}}</td>
                        <td>{{car.longitude}}</td>
                        <td>{{car.status}}</td>
                        <td>
                            <form method="POST" action="/del_car/{{car.id}}">  
                                <button type="submit" class="btn btn-danger">
                                    <i>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                        </svg>
                                    </i>
                                </button>
                            </form>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

<!-- {% block script %}
    <script>
        function del_car(id){
            fetch("/del_car/" + id, {
                method: "POST",
            })
        }
    </script>
{% endblock %} -->