{% extends 'base.html' %}

{% block title %}
	<title>Добавление администратора</title>
{% endblock %}

{% block content %}
    <div class="container">
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endfor %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Роль</th>
                    <th scope="col">Почта</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Лицензия</th>
                    <th scope="col">Дата регистрации</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for user in users %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{user.role}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.surname}}</td>
                        <td>{{user.license}}</td>
                        <td>{{user.date_reg}}</td>
                        <td>
                            {% if user.role == "super_user" %}
                            <form method="POST" action="/un_make_super_user/{{user.id}}">  
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-x">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="1 3 13 13">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                        </svg>
                                    </i>
                                </button>
                            </form>
                            {% endif %}
                            {% if user.role == "verify" %}
                            <form method="POST" action="/make_super_user/{{user.id}}">  
                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-check-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="2 4 13 13">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                                        </svg>
                                    </i>
                                </button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}