{% extends 'base.html' %}

{% block title %}
	<title>Восстановление пароля</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Восстановление пароля</h1>
            {% if msg %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
            {% endif %}
            {% for error in errors %}
                    <div class="alert alert-danger" role="alert">
                            {{ error }}
                    </div>
            {% endfor %}
        <form method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Почта:</label>
                <input type="email" required class="form-control" name="email" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">Получить код</button>
        </form>
        <a href="/create_new_password" class="btn btn-primary">Далее</a>
    </div>
{% endblock %}